html > *{
    padding: 0;
    margin:0;
}


html{
    height: 100vh;
    width: 100vw;
}

body{
    display:grid;
    min-height: 100%;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 45vh;
    padding: 2vh;
    grid-gap: 2vh;



}


div.module{
    transition: all 200ms;
    border-radius: 5%;
    border: solid black 2px;
    overflow: auto;


}
#test{
    grid-column-end: span 2;
    grid-row-end: span 2;
}